# php_flag display_startup_errors on
# php_flag display_errors on
# php_flag html_errors on
# php_value docref_root 1
# php_value docref_ext 1

php_value short_open_tag 1
php_value upload_max_filesize 10M
php_value post_max_size 10M

RewriteBase /

Options -Indexes

ErrorDocument 403 /index.php?page=error_404
ErrorDocument 404 /index.php?page=error_404


RewriteEngine On
RewriteRule ^post/(.*)/comments$ /index.php?page=post&post_id=$1#comments [NC,L]
RewriteRule ^post/(.*)/comment_(.*)$ /index.php?page=post&post_id=$1#comment_$2 [NC,L]
RewriteRule ^post/(.*)$ /index.php?page=post&post_id=$1 [NC,L]
RewriteRule ^@(.*)$ /index.php?page=user&login=$1 [NC,L]
RewriteRule ^tag/(.*)$ /index.php?page=search&tag=$1 [NC,L]
RewriteRule ^search/(.*)$ /index.php?page=search&q=$1 [NC,L]
RewriteRule ^where-is-my-pass/$ /index.php?page=forgot_password [NC,L]

